<div class="ui five column grid">
<% @originubs.each do |originub| %>
  <div class="column">

    <div class='ui fluid cards'>
      <div class='teal card'>
        <div class='content'>
          <div class='header'>
            <%= originub.city %>
          </div>

          <div class='meta'>
            <%= originub.name %>
          </div>

          <div class="description">
            <%= originub.address %><br>
            <%= originub.cod_munic %><br>
          </div>

          <div class="extra content">
            <%= link_to 'Show', originub, class: 'right floated' %>
            <br>
            <%= link_to 'Edit', edit_originub_path(originub), class: 'right floated' %>
          </div>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>


<%= link_to 'New Originub', new_originub_path %>
