<p id="notice"><%= notice %></p>


<p>
<strong>Cod munic:</strong>
<%= @originub.cod_munic %>
</p>

<p>
<strong>Cod cnes:</strong>
<%= @originub.cod_cnes %>
</p>

<p>
<strong>Name:</strong>
<%= @originub.name %>
</p>

<p>
<strong>Address:</strong>
<%= @originub.address %>
</p>

<p>
<strong>Neighborhood:</strong>
<%= @originub.neighborhood %>
</p>

<p>
<strong>City:</strong>
<%= @originub.city %>
</p>

<p>
<strong>Tel:</strong>
<%= @originub.tel %>
</p>

<p>
<strong>Dsc estrut fisic ambiencia:</strong>
<%= @originub.dsc_estrut_fisic_ambiencia %>
</p>

<p>
<strong>Dsc adap defic fisic idosos:</strong>
<%= @originub.dsc_adap_defic_fisic_idosos %>
</p>

<p>
<strong>Dsc equipamentos:</strong>
<%= @originub.dsc_equipamentos %>
</p>

<p>
<strong>Dsc medicamentos:</strong>
<%= @originub.dsc_medicamentos %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @originub.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @originub.longitude %>
</p>

<%= link_to 'Edit', edit_originub_path(@originub) %> |
<%= link_to 'Back', originubs_path %>
